---
import {Image} from "astro:assets";
import {getRelativeLocaleUrl} from 'astro:i18n';
import {SITE_TITLE} from '../consts';
import HeaderLink from './HeaderLink.astro';
import logo from '../assets/rustic-logo-light.svg';
import logoDark from '../assets/rustic-logo-dark.svg';
import {useTranslations} from '../i18n/utils';

const lang = (Astro.currentLocale ?? 'en') as 'en' | 'es';
const t = useTranslations(lang);

---

<header class="fixed left-1/2 -translate-x-1/2 md:min-w-3xl w-max px-8 py-4 animate-fade-in-down animate-delay-1000 bg-offwhite/20 hover:bg-offwhite/30 hover:border-offwhite/30 transition-all rounded-full z-1000 my-6 md:my-12 backdrop-blur-lg shadow-lg hover:shadow-none border border-offwhite/20">
    <nav class="flex gap-4 flex-row justify-between items-center">
        <a href="/" class="max-w-30">
            <Image src={logoDark} alt={SITE_TITLE}/>
        </a>
        <div class="flex flex-row gap-4 items-center pt-1">
            <HeaderLink href={getRelativeLocaleUrl(lang, '/')}>{t('nav.home')}</HeaderLink>
            <HeaderLink href={getRelativeLocaleUrl(lang, 'blog')}>{t('nav.blog')}</HeaderLink>
            <HeaderLink href={getRelativeLocaleUrl(lang, 'about')}>{t('nav.about')}</HeaderLink>
        </div>
    </nav>
</header>
